:root {
	--animate-delay: 1s;
	--animate-repeat: 1;
	--lineRed: #eb5648;
	--borderGray: #393b4a;
	--white: rgba(255, 255, 255, 1);
	--white_01: rgba(255, 255, 255, 0.1);
	--white_02: rgba(255, 255, 255, 0.2);
	--white_03: rgba(255, 255, 255, 0.3);
	--white_04: rgba(255, 255, 255, 0.4);
	--white_05: rgba(255, 255, 255, 0.5);
	--white_06: rgba(255, 255, 255, 0.6);
	--white_07: rgba(255, 255, 255, 0.7);
	--white_08: rgba(255, 255, 255, 0.8);
	--white_09: rgba(255, 255, 255, 0.9);
	--themeColor: rgb(18, 120, 246);
	--themeColor_01: rgba(18, 120, 246, 0.1);
	--themeColor_02: rgba(18, 120, 246, 0.2);
	--themeColor_03: rgba(18, 120, 246, 0.3);
	--themeColor_04: rgba(18, 120, 246, 0.4);
	--themeColor_05: rgba(18, 120, 246, 0.5);
	--themeColor_06: rgba(18, 120, 246, 0.6);
	--themeColor_07: rgba(18, 120, 246, 0.7);
	--themeColor_08: rgba(18, 120, 246, 0.8);
	--themeColor_09: rgba(18, 120, 246, 0.9);
	--baseColor: rgba(61, 77, 102, 1);
	--borderColor: #e2e2e2;
	--primary-color: #2491f7;
	--gray-1: #fff;
	--gray-2: #fafafa;
	--gray-3: #d9d9d9;
	--gray-4: #bfbfbf;
	--gray-5: #999;
	--gray-6: #666;
	--gray-7: #393b4a;
	--gray-8: #333;
	--gray-9: #313239;
	--gray-10: #2d2f38;
	--gray-11: #24262e;
	--gray-12: #22242b;
	--gray-13: #181b24;
	--gray-14: #000;
	--border-color-black: #22242b;
	--background-gray-1: #181b24;
	--background-gray-2: #22242b;
	--background-gray-3: #24262e;
	--background-gray-4: #2d2f38;
	--background-gray-5: #313239;
	--background-gray-6: #393b4a;
	--component-background: var(--gray-13);
	--text-color: var(--gray-4);
	--text-active: var(--gray-2);
	--text-disabled: var(--gray-6);
	--border-color-base: var(--gray-7);
	--switch-background: var(--gray-13);
	--background-1: #181b24;
	--background-2: #22242b;
	--background-3: #24262e;
	--background-4: #2d2f38;
	--background-5: #313239;
	--text-1: #bfbfbf;
	--text-2: #fafafa;
	--text-3: #fff;
	--border-black-color: #0d0e10;
	--border-color-1: #0d0e10;
	--border-color-2: #22242b;
	--border-color-3: #393b4a;
	--border-gray-color: #393b4a;
	--border-black: 1px solid var(--border-black-color);
	--border-gray: 1px solid var(--border-gray-colo);
	--input-background: #181b24;
	--input-text-color: #bfbfbf;
	--input-arrow-color: #acb7bd;
	--text-tab: #fafafa;
	--text-header: #e8e8e8;
	--text-base: #bfbfbf;
	--icon-disabled-color: #666;
}

$disabledColor: #eee;

$error-color: #ed4014;

$move-color: rgba(237, 64, 20, 0.5);
