html,
body{
	height: 100%;
}

.full-window {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.pos-f {
	position: fixed;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pointer {
	cursor: pointer !important;
}

.pointer-no {
	pointer-events: none !important;
}

.z-index-9 {
	z-index: 9;
}

.z-index-99 {
	z-index: 99;
}

.z-index-999 {
	z-index: 999;
}

.circle {
	border-radius: 50%;
}

.fn-block {
	display: block !important;
}

.fn-hide {
	display: none !important;
}

.fn-flex {
	display: flex;
	display: -webkit-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ellipsis-multiLine {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.fade-enter {
	opacity: 0;
}

.fade-leave {
	opacity: 1;
}

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-leave-active {
	opacity: 0;
	transition: opacity 0.5s;
}

.c-drawer-right {
	top: 60px!important;
	height: calc(100vh - 60px) !important;
}
