.d-ruler-guide-x {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	width: 0;
	height: 9999px;
	border-left: 1px solid var(--lineRed);

	.d-ruler-guide-x-num {
		position: absolute;
		top: 2px;
		left: 3px;
		padding: 4px;
		font-size: 12px;
		line-height: 12px;
		color: var(--white);
		background: var(--lineRed);
	}
}

.d-ruler-guide-y {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	width: 9999px;
	height: 0;
	border-top: 1px solid var(--lineRed);

	.d-ruler-guide-y-num {
		position: absolute;
		top: -30px;
		left: 0;
		padding: 4px;
		font-size: 12px;
		line-height: 14px;
		color: var(--white);
		background: var(--lineRed);
		transform: rotate(-90deg);
	}
}
