.d-ruler-visible {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	color: var(--white);
	text-align: center;
	cursor: pointer;
	background-color: #111;

	&.d-ruler-visible-hide {
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}
}

.d-ruler-wrapper-x {
	position: absolute;
	top: 0;
	left: 18px;
	z-index: 9;
	width: calc(100% - 18px);
	height: 18px;

	canvas {
		left: 0;
		box-shadow: #111 0 0 1px;
	}
}

.d-ruler-wrapper-y {
	position: absolute;
	top: 18px;
	left: 0;
	z-index: 9;
	width: 18px;
	height: calc(100% - 18px);

	canvas {
		left: 0;
		box-shadow: #111 0 0 1px;
	}
}
