.el-form-item__label,
.el-select-dropdown__item,
.el-form-item__content {
	font-size: 12px;
}
.el-form-item--mini.el-form-item {
	margin-bottom: 8px;
}
.el-input__inner,
.el-color-picker__trigger {
	border-radius: 2px;
}

.el-icon-success {
	color: #67c23a !important;
}

.el-select {
	width: 100%;
}

.el-form-item__content {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}
