.d-left-scene {
	.ivu-input,
	.ivu-select-selection,
	.ivu-input-number-input {
		color: #fafafa;
		background-color: #181b24;
		border: 1px solid #393b4a;
		border-radius: 2px;

		&:focus {
			border: 1px solid var(--themeColor);
		}
	}

	.ivu-select-dropdown {
		padding: 0;
		margin: 0;
		background-color: #2d2f38;
		border-radius: 2px;

		li {
			&:hover,
			&.ivu-select-item-focus {
				color: var(--themeColor);
				background-color: #22242b;
			}
		}
	}
}

.d-modal-title {
	height: 40px;
	font-size: 14px;
	font-weight: normal;
	line-height: 40px;
	color: #d8d8d8;
	text-align: center;
	user-select: none;
	background: var(--background-4);
	border-bottom: 1px solid rgba(36, 38, 46, 0.4);
}

.d-right-modal-border {
	border-bottom: 1px solid #000;
}

.d-right-modal-title {
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #d8d8d8;
	background-color: #2d2f38;

	span {
		flex: 1;
		height: 100%;
		user-select: none;

		&.active {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				content: '';
				background-color: var(--themeColor);
			}

			background-color: #22242b;
		}
	}
}

.d-right-modal-box {
	overflow: hidden;
	background-color: #22242b;
}

.d-right-modal-id {
	padding-bottom: 10px;
	margin-left: 10px;
}

.d-right-modal-name {
	align-items: flex-end;
	padding: 20px 0 5px 0;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
	line-height: 20px;
	color: #d8d8d8;

	span {
		margin-right: 5px;
		outline: none;
	}

	.ivu-icon {
		margin-left: 5px;
		font-size: 12px;
	}
}

.d-right-modal {
	padding: 10px 0;
}
